@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div style="padding: 2rem;">
        <h2 class="display-4">Welcome to Dotnet 8.0 reference app</h2>
    </div>
    <div style="padding: 2rem ;">

        <p style="padding-bottom: 1rem;"> <b>Click on Login to Experience Affinidi Login</b> </p>
        <p>OR Click <a href="/UserDetail"> User details menu</a> directly to login</p>

    </div>

    <p style="font-weight: bold;">Learn more about <a href="https://docs.affinidi.com/docs">Affinidi login and other
            products</a>.</p>
</div>
