@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  font-size: 8px;
}

body {
  height: 100%;
  margin: 0;
  font-size: 2rem;
  -webkit-font-smoothing: antialiased;
}

