<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Affinidi Login Integration Example</title>
    <style>
        .container {
            width: 400px;
            margin: 0 auto;
            background: rgba(255, 255, 255, 0.8);
            padding: 20px;
            border-radius: 5px;
            margin-top: 50px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

        .form-container h1 {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h1>Login with Affinidi Login through Auth0</h1>
            <form method="post" action="/login">
                {% csrf_token %}
                <button type="submit">Log In</button>
            </form>
        </div>
    </div>
</body>
</html>
